{{define "body"}}
<div class="fh-feed mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
        <div class="submit-feed">
            {{block "submitform" .}}{{end}}
        </div>
        {{block "posts" .}}
            Whoops looks like you have landed somehwhere strange
        {{end}}
    </main>
</div>
    
{{end}}