{{define "body"}}
<div class="fh-feed mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <img src="/static/img/unknown-user.png" height="150" width="150"/>
                </div>
                <div class="mdl-cell mdl-cell--8-col">
                    <form action="/login?redirect={{.Redirect}}" method='post'>                        
                        
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="email" required name="email">
                            <label class="mdl-textfield__label" for="email">Email</label>
                        </div>
                        </br>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="password" required name="password">
                            <label class="mdl-textfield__label" for="password">Password</label>
                        </div>                            
                        </br>
                        <input type="hidden" name="redirect" value="{{.Redirect}}">
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effec" value="Login">
                        <a style="margin: 25px;" href='/register'>No Account? Sign Up Here</a>
                    </form>                                                    
                </div>
                {{if .Error}}                    
                    <div class="mdl-cell mdl-color-text--red-600 mdl-cell--2-col">                        
                        <div>
                            <strong>{{.Error}}</strong>                                    
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </main>
</div>
{{end}}