{{define "post"}}
    <div name="{{.Post.ID}}" class="{{if .Highlight}}highlight-post{{end}} amazing post-box mdl-cell mdl-cell--12-col">
        <div class="minilogo">
            <a href='/user/{{.User.Username}}'><img class='profile-image' src="{{.User.AvatarUrl}}" height="44" width="44" onerror="this.src='/static/img/unknown-user.png'"/></a>
        </div>
        <div class='post-contents'>
            <div class='post-user'>
                <a href='/user/{{.User.Username}}'><strong>{{.User.Name}}</strong></a>
                <a href='/user/{{.User.Username}}'>@{{.User.Username}}</a>
                {{if .Post.Sub}} on <a href="/n/{{.Post.Sub}}/">{{.Post.Sub}}</a>{{end}}
                - <a href='/post/{{.Post.ID}}#{{.Post.ID}}'>{{.Post.FormattedDate}}</a>
                
            </div>   
            <a class='anchor' name="{{.Post.ID}}"></a>
            <div class="mdl-color-text--grey-600 post-text">
                <p class="quote">{{.Post.Text}}</p>                               
            </div>
            <div class="{{if .Post.AngryPercent}}angrytext{{else}}happytext{{end}}">
                <div class="action-happyness">
                    {{block "happyness" .Post}}{{end}}
                    <div class="post-actions">                        

                        <div class="post-action">
                            <a id='reply-{{.Post.ID}}' href='/post/{{.Post.ID}}#{{.Post.ID}}' style='text-decoration: none;' class="material-icons">message</a>
                            <a  href="/post/{{.Post.ID}}#{{.Post.ID}}"><span id='replybadge-{{.Post.ID}}'>{{.Post.ReplyCount}}</span></a>
                        </div>

                        <div class="post-action">
                            <a  href="" id='like-{{.Post.ID}}' onclick="return toggleLike({{.Post.ID}})" style='text-decoration: none;' class="material-icons">{{if .HasLiked}}favorite{{else}}favorite_border{{end}}</a>
                            <span id='likebadge-{{.Post.ID}}' class="">{{.Post.Likes}}</span>
                        </div>

                        <div class="post-action"><a href="" onclick="return toggleDisplay({{.Post.ID}})" style='text-decoration: none;' class="material-icons">reply</a></div>
                        <!--div class="post-action"><a href="" onclick="return false;" style='text-decoration: none;' class="material-icons">report</a></div-->
                    </div>                
                </div>
                
            </div>
        </div>
    </div>  
    <div id="{{.Post.ID}}-reply" class="mdl-card mdl-cell mdl-cell--12-col post-reply">                 
        {{block "submitform" .Post}}{{end}}        
    </div>
{{end}}

{{define "postScript"}}
    <script>

    function toggleDisplay(postID) {
        var elm = document.getElementById(postID+'-reply')
        if (elm.style.display  == 'none' || elm.style.display  == '') {
            elm.style.display = 'inline';
        } else {
            elm.style.display = 'none'
        }
        return false
    }

    function toggleLike(postID){
        fetch('/like', {
            method: 'post',
            credentials: 'same-origin',
            headers: {
            "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                postID: postID,
            })
        })
        .then(function (response) {
            if (response.status == 200) {
                response.json().then(function(data) {
                    var aa = document.getElementById('like-'+postID);
                    var bb = document.getElementById('likebadge-'+postID);
                    var badgeVal = bb.innerText;
                    if (data.liked) {
                        aa.innerText = "favorite";
                        badgeVal++;
                        bb.innerText = badgeVal;
                    }else {
                        aa.innerText = "favorite_border";
                        badgeVal--;
                        bb.innerText = badgeVal;
                    }
                });                            
            }
        })
        .catch(function (error) {
            var snackbarContainer = document.querySelector('#error-snackbar');
            var data = {message: 'Error Updating Like'};
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
        });
        return false
    }
    </script>
{{end}}

{{define "posts"}}
    <div class="fh-feed__posts mdl-grid">
        {{range .Posts}}
            {{block "post" .}}{{end}}
        {{end}}
        {{block "postScript" .}}{{end}}
    </div>
    <div class="next-button">        
        {{if .Next}}
            <a style='color:black;text-decoration:none;' href='?cursor={{.Next}}{{range $key,$value := .QueryParams}}&{{$key}}={{$value}}{{end}}' class="material-icons">navigate_next</a>
        {{end}}
    </div>
{{end}}