{{define "post"}}
    <div name="{{.Post.ID}}" class="mdl-card {{if .Highlight}}highlight-post{{end}} amazing mdl-cell mdl-cell--12-col">
        <a class='anchor' name="{{.Post.ID}}"></a>
        <div class="mdl-card__title mdl-color-text--grey-600">
            <p class="quote">{{.Post.Text}}</p>                               
        </div>
        <div class="mdl-card__supporting-text meta {{if .Post.AngryPercent}}angrytext{{else}}happytext{{end}}">    
            <div class="minilogo">
                <a href='/user/{{.User.Username}}'><img src="{{.User.AvatarUrl}}" height="44" width="44" onerror="this.src='/static/img/unknown-user.png'"/></a>
            </div>
            <div>
                <a href='/user/{{.User.Username}}'><strong>{{.User.Username}}</strong></a>                
                <a href='/post/{{.Post.ID}}#{{.Post.ID}}'><span>{{.Post.FormattedDate}}</span></a>
                {{if .Post.Sub}}<div><a href="/u/{{.Post.Sub}}/">/u/{{.Post.Sub}}</a></div>{{end}}
            </div>   
            <div class="action-happyness">
                {{block "happyness" .Post}}{{end}}
                <div class="post-actions">
                    <div>
                        <a  href="" id='like-{{.Post.ID}}' onclick="return toggleLike({{.Post.ID}})" style='text-decoration: none;' class="material-icons">{{if .HasLiked}}favorite{{else}}favorite_border{{end}}</a>
                        <span id='likebadge-{{.Post.ID}}' class="mdl-badge" data-badge="{{.Post.Likes}}"></span>
                    </div>

                    <div>
                        <a id='reply-{{.Post.ID}}' href='/post/{{.Post.ID}}#{{.Post.ID}}' style='text-decoration: none;' class="material-icons">message</a>
                        <a  href="/post/{{.Post.ID}}#{{.Post.ID}}"><span id='replybadge-{{.Post.ID}}' class="mdl-badge" data-badge="{{.Post.ReplyCount}}"></span></a>
                    </div>

                    <div><a href="" onclick="return toggleDisplay({{.Post.ID}})" style='text-decoration: none;' class="material-icons">reply</a></div>
                </div>                
            </div>
            
        </div>
    </div>  
    <div id="{{.Post.ID}}-reply" class="mdl-card mdl-cell mdl-cell--12-col post-reply">                 
        {{block "submitform" .Post}}{{end}}        
    </div>
{{end}}

{{define "postScript"}}
    <script>

    function toggleDisplay(postID) {
        var elm = document.getElementById(postID+'-reply')
        if (elm.style.display  == 'none' || elm.style.display  == '') {
            elm.style.display = 'inline';
        } else {
            elm.style.display = 'none'
        }
        return false
    }

    function toggleLike(postID){
        fetch('/like', {
            method: 'post',
            credentials: 'include',
            headers: {
            "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                postID: postID,
            })
        })
        .then(function (response) {
            if (response.status == 200) {
                response.json().then(function(data) {
                    var aa = document.getElementById('like-'+postID);
                    var bb = document.getElementById('likebadge-'+postID);
                    var badgeVal = bb.getAttribute('data-badge');
                    if (data.liked) {
                        aa.innerText = "favorite";
                        badgeVal++;
                        bb.setAttribute('data-badge', badgeVal);
                    }else {
                        aa.innerText = "favorite_border";
                        badgeVal--;
                        bb.setAttribute('data-badge', badgeVal);
                    }
                });                            
            }
        })
        .catch(function (error) {
            var snackbarContainer = document.querySelector('#error-snackbar');
            var data = {message: 'Error Updating Like'};
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
        });
        return false
    }
    </script>
{{end}}

{{define "posts"}}
    <div class="fh-feed__posts mdl-grid">
        {{range .Posts}}
            {{block "post" .}}{{end}}
        {{end}}
        {{block "postScript" .}}{{end}}
    </div>
    <div class="next-button">        
        {{if .Next}}
            <a style='color:black;text-decoration:none;' href='?cursor={{.Next}}' class="material-icons">navigate_next</a>
        {{end}}
    </div>
{{end}}