{{define "post"}}
    <div name="{{.Post.ID}}" class="mdl-card {{if .Highlight}}highlight-post{{end}} amazing mdl-cell mdl-cell--12-col">
        <a class='anchor' name="{{.Post.ID}}"></a>
        <div class="mdl-card__title mdl-color-text--grey-600">
            <p class="quote">
                {{.Post.Text}}
            </p>                               
        </div>
        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">    
            <div class="minilogo">
                <a href='/user/{{.User.Username}}'><img src="{{.User.AvatarUrl}}" height="44" width="44" onerror="this.src='/static/img/unknown-user.png'"/></a>
            </div>
            <div>
                <a href='/user/{{.User.Username}}'><strong>{{.User.Username}}</strong></a>
                <a href='/post/{{.Post.ID}}#{{.Post.ID}}'><span>{{.Post.FormattedDate}}</span></a>
                {{if .Post.Sub}}<div><a href="/u/{{.Post.Sub}}/">/u/{{.Post.Sub}}</a></div>{{end}}
            </div>        
            <a  href="" id='like-{{.Post.ID}}' onclick="return toggleLike({{.Post.ID}})" style='text-decoration: none;' class="material-icons">{{if .HasLiked}}favorite{{else}}favorite_border{{end}}</a>
            <span id='likebadge-{{.Post.ID}}' class="mdl-badge" data-badge="{{.Post.Likes}}"></span>

            <a id='reply-{{.Post.ID}}' href='/reply/{{.Post.ID}}' style='text-decoration: none;' class="material-icons">message</a>
            <a  href="/post/{{.Post.ID}}#{{.Post.ID}}"><span id='replybadge-{{.Post.ID}}' class="mdl-badge" data-badge="{{.Post.ReplyCount}}"></span></a>
            {{if .Post.Analysis}}
            {{if .Post.Analysis.DocumentSentiment}}
            <div style="margin: 10px;">
                <span>Happyness: {{.Post.Analysis.DocumentSentiment.Score}}</span>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>   
{{end}}

{{define "postScript"}}
    <script>
    function toggleLike(postID){
        fetch('/like', {
            method: 'post',
            credentials: 'include',
            headers: {
            "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                postID: postID,
            })
        })
        .then(function (response) {
            if (response.status == 200) {
                response.json().then(function(data) {
                    var aa = document.getElementById('like-'+postID);
                    var bb = document.getElementById('likebadge-'+postID);
                    var badgeVal = bb.getAttribute('data-badge');
                    if (data.liked) {
                        aa.innerText = "favorite";
                        badgeVal++;
                        bb.setAttribute('data-badge', badgeVal);
                    }else {
                        aa.innerText = "favorite_border";
                        badgeVal--;
                        bb.setAttribute('data-badge', badgeVal);
                    }
                });                            
            }
        })
        .catch(function (error) {
            var snackbarContainer = document.querySelector('#error-snackbar');
            var data = {message: 'Error Updating Like'};
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
        });
        return false
    }
    </script>
{{end}}

{{define "posts"}}
    <div class="fh-feed__posts mdl-grid">
        {{range .Posts}}
            {{block "post" .}}{{end}}
        {{end}}
        {{block "postScript" .}}{{end}}
    </div>
{{end}}