{{define "body"}}
{{$IsUser :=  .HasSession | and (eq .SessionUser.ID  .User.ID) }}

        
<div class="fh-feed mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">    
        <div class="user-card">
            <div class="user-avatar">
                <img src="{{.User.AvatarLarge}}" height="210" width="210" onerror="this.src='/static/img/unknown-user.png'"/>                
                <a class='shame' href='/shame/{{.User.Username}}'>See My Shame</a>                
            </div>
            <div class="name-details">
                <h4>{{.User.NameTitle}}</h4>
                {{.User.Details}}
            </div>   
            <div class="user-happyness">{{block "happyness" .User}}{{end}}</div>            
            {{if .HasSession | and (not $IsUser)}}
                <div class="follow-button">
                    <button id='follow-button' onclick='toggleFollow({{.User.ID}})'class="follow-button mdl-cell--middle mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        {{if .Follows}}Unfollow{{else}}Follow{{end}}
                    </button>
                </div>
            {{end}}            
            {{if $IsUser}}
                <div class="top-right-icon">
                    <a href='/settings' class="material-icons">settings</a>
                </div>
            {{end}}
        </div>        
        <div class="submit-feed">
            {{block "submitform" .}}{{end}}
        </div>
        {{block "posts" .}}
            Whoops looks like you have landed somewhere strange
        {{end}}
    </main>
</div>
    

{{if .HasSession | and (not $IsUser)}}
<script>
    function toggleFollow(userID){
        fetch('/follow', {
            method: 'post',
            credentials: 'same-origin',
            headers: {
            "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                userID: userID,
            })
        })
        .then(function (response) {
            if (response.status == 200) {
                response.json().then(function(data) {
                    var aa = document.getElementById('follow-button');                                        
                    if (data.follows) {
                        aa.innerText = "Unfollow";                        
                    }else {
                        aa.innerText = "Follow";
                    }
                });                            
            }
        })
        .catch(function (error) {
            var snackbarContainer = document.querySelector('#error-snackbar');
            var data = {message: 'Error Updating Follow'};
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
        });
        return false
    }
</script>
{{end}}


{{end}}